.DS_Store
*.pth
cifar-10-python.tar.gz
.idea
*.log
*.temp
*.pyc
*.py.un~
.idea*
.idea/*
\.idea*
.vscode*
.vscode/*
\.vscode*
__pycache__/
*_AdvExamples.npy
*_AdvLabels.npy
*_TrueLabels.npy
train-images-idx3-ubyte*
train-labels-idx1-ubyte*
t10k-images-idx3-ubyte*
t10k-labels-idx1-ubyte*
ReservedScripts/
